<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="~/Content/panelTema/assets/css/bootstrap.min.css">
</head>
<body>
@RenderBody()
<script src="~/Content/panelTema/assets/js/vendor/jquery-2.1.4.min.js"></script>
</body>
</html>